{% extends 'base.html' %} {% block content %}

<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">Vaccine Hesitancy App</h1>
        <p class="lead">Welcome! We're here to provide you with the information and support you need to make an informed decision about vaccines, in a way that respects your concerns and helps you feel confident in your choices.</p>
       
      </div>
    </div>
  </div>
</section>


<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr />
        <h3>Consulting Services</h3>
        <p>
          We specialize in tackling vaccine hesitancy with evidence-based strategies and tailored solutions. Our team helps organizations and healthcare providers build trust, communicate effectively, fostering healthier, more informed choices for all.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr />
        <h3>Vaccine Saftey </h3>
        <p>
          Building trust in vaccines to create safer, informed communities—starting from home.  Our goal is to empower families with accurate information and resources, fostering a sense of security and confidence in vaccination for a healthier future.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr />
        <h3>Health Journeys</h3>
        <p>
          Empowering individuals to take control of their health journey with confidence in vaccines. Just as a suitcase carries essential items for a trip, we provide the tools and knowledge to navigate vaccination decisions with trust and clarity.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
